.bg-home {
    height: 700px;
    background-color: gray;
    background-image: url(../asets/bg4.jpg);
    background-size: 100% 100%;
}

.bg-home .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .bg-home .overlay .carousel-home {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-home .overlay .carousel-home img {
    width: 100%;
    height: 100%;
} */

.bg-home .overlay .content-home {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4rem;
    text-align: center;
    font-weight: 800;
    color: #fff;
    font-family: cursive;
}
.bg-home .overlay .content-home .content-home-detils
{
    font-size: 1.4rem;
    
}