.contact-us{
 
    width: 100%;
    padding-top: 65px;
    
    color: #fff;
   
   
}
.contact-us .contact-row{
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #ffe8d6, #7d1538);
}
.contact-us .contact-row .contact-col{

    /* background-color: #353535; */
 
}
.contact-us span{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    color: #71a5ef;
}
.contact-us p{
    height: 100%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 200;
}
.contact-us .mobile-icon{
    color: #fca311;

}