.languages {
    color: #fff;
    font-size: 36px;
    padding-left: 20px;
}
.bg-body-tertiary{
    background-color: #7d1538 !important;
}
.languages:hover {
    color: #fb8500;
}
a{
    
    align-self: center;
    text-decoration: none !important;
    color: #fff !important;
    padding-right: 15px;
}
a:hover {
    color: #fb8500 !important;
   
}